.splide {
    width:1024px;
    margin:0 auto;
}

.splide__slide {
    display: flex;
    align-items: center;
    justify-content: center;
}

.splide img {    
    height: 80%;
    margin:0 auto;
    display: block;
    width: 100%;
}

